<StackLayout>
  <Label *ngIf="fetching"
    text="Loading Users"></Label>
    <Label *ngIf="error!=null"
    text="Error loading Users"></Label>
    <!-- <StackLayout *ngIf="fetched">
        
        <app-user-row *ngFor="let user of users" [user]="user"></app-user-row>
    </StackLayout> -->
    <ListView *ngIf='fetched' [items]="users" (itemTap)="onItemTap($event)">
            <ng-template let-item="item" let-i="index">
                <app-user-row [user]='item'></app-user-row>
            </ng-template>
        </ListView>
</StackLayout>


