<ContentView height="100%" width="100%">
  <!-- <Mapbox accessToken="sk.eyJ1IjoiZWxpc3ZhdGhpIiwiYSI6ImNqOGRmd2FqdTBpdmgyeG1qanI5M3ltb2YifQ.fPWJADmBazPCX9Cf1765qg" mapStyle="traffic_day"
    latitude="50.467735" longitude="13.427718" hideCompass="true" zoomLevel="18" showUserLocation="false" disableZoom="false"
    disableRotation="false" disableScroll="false" disableTilt="false" (mapReady)="onMapReady($event)">
  </Mapbox> -->
  <MapView #map (mapReady)="onMapReady($event)"></MapView>
</ContentView>