<StackLayout>
  <Label class="convTitle"
   [text]="title"></Label>
   <StackLayout orientiation="horizontal">
   <Label class="convMessage"
   [text]="lastMessage"></Label>
   <Label class="convMessage"
   [text]="lastMessageTime"></Label></StackLayout>
</StackLayout>
