StackLayout{background-color:#FAFAFA;margin-top:15;margin-left:15;margin-right:15;padding:5;padding-bottom:15}.convTitle{color:#104427;font-size:14;font-weight:700}.convMessage{color:#7E7E7E;font-size:9}
