<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->
<!-- <app-landing></app-landing> -->
<page-router-outlet></page-router-outlet>