ActionBar{background-color:#8e44ad;border-color:transparent;border-width:1;color:white;horizontal-alignment:center}TabView{tab-background-color:#8e44ad;color:white;unselected-tab-text-color:white;selected-tab-text-color:white}
