<!-- <StackLayout>
  
  
<Label text="Logged IN"></Label>
<Button text="Log out" (tap)="logOut()"></Button>
</StackLayout> -->
<Page>
    <ActionBar>
            <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Settings" android.position="popup"></ActionItem>
            <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="My Profile" android.position="popup"></ActionItem>
            <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Contacts" android.position="popup"></ActionItem>
        
    </ActionBar>
<StackLayout *ngIf="!fetched">
    <Label *ngIf="fetching" text="Loading User"></Label>
    <label *ngIf="error!=null" text="Error Loading User"></label>
</StackLayout>
<StackLayout *ngIf="fetched">
    <TabView>
        <StackLayout *tabItem="{title: 'Profile'}" >
            <app-discover></app-discover>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Conversations'}">
            <!-- <Label text="Second tab item"></Label> -->
            <app-conversation-list></app-conversation-list>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Users'}">
            <!-- <Label text="Third tab item"></Label> -->
            <app-users-list></app-users-list>
        </StackLayout>
    </TabView>
</StackLayout>
</Page>