


.container{
    width: 100%;

}

.profileImage{
    width: 40;
    height: 40;
    border-radius: 20;
    padding: 5;
}

.simpleCurrent{
    border-radius: 10 10 10 10;
    margin-right: 40;
    margin-top:3;
}
.simpleOther{
    border-radius: 10 10 10 10;
    margin-left: 40;
    margin-top:3;
}
.message{
    padding-top: 2;
    padding-bottom: 2;
    padding-left: 5;
    padding-right: 5;
    
}
.currentUserMessage{
    background-color: #8e44ad;
    margin-left: 100;
}

.otherUserMessage{
    background-color: #bdc3c7;
    margin-right: 100;
}

.firstCurrent{
    border-radius: 10 0 10 10;
    margin-top : 10;
}
.firstOther{
    border-radius: 0 10 10 10;
    margin-top: 10;
}
.userName{
    color: black;
    font-size: 9;
    font-weight: 700;
}
.dateText{
    color: white;
    font-size: 8;
    opacity: 0.7;
    padding: 1;
}
.messageText{
    color: white;
    font-size: 12;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    margin:0;
    padding: 0;
}