<!-- <StackLayout class="container" orientation='horizontal'>
    <StackLayout orientation='horizontal'>
    <Image *ngIf="displayUser&&!isByCurrentUser" src="https://www.vbulletin.com/forum/core/images/default/default_avatar_large.png" [class]="profileImage"></Image>
 
    <StackLayout [class]="messageClass" [horizontalAlignment] = 'alignment'>
  <Label *ngIf="displayUser" [text]="userName" class="userName" ></Label>
  <WrapLayout  orientation="horizontal">
  <Label [text]="text" class="messageText"></Label>
  <Label [text]="date" class="dateText"></Label></WrapLayout>

</StackLayout>
<Image *ngIf="displayUser&&isByCurrentUser" src="https://www.vbulletin.com/forum/core/images/default/default_avatar_large.png" [class]="profileImage"></Image>

</StackLayout>
</StackLayout> -->

<StackLayout class="container" orientation="horizontal" [horizontalAlignment]='isByCurrentUser?"right": "left"' >


    <Image *ngIf="displayUser&&!isByCurrentUser" src="https://www.vbulletin.com/forum/core/images/default/default_avatar_large.png" class="profileImage"></Image>
    <StackLayout [class]="messageClass">
        <Label *ngIf="displayUser" [text]="userName" class="userName" ></Label>
        <WrapLayout  orientation="horizontal">
            <Label *ngIf='!isByCurrentUser' [text]="date" class="dateText"></Label>
        <TextView [text]="text" class="messageText" editable="false"></TextView>
        <Label *ngIf='isByCurrentUser' [text]="date" class="dateText"></Label></WrapLayout>
      
      </StackLayout>
 
    <Image *ngIf="displayUser&&isByCurrentUser" src="https://www.vbulletin.com/forum/core/images/default/default_avatar_large.png" class="profileImage"></Image>
    
 
</StackLayout>