.mainContainer{
    background-color: #FFFFFF;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
    padding: 10;
}

.userName{
    padding-left: 15;
    color: #000000;
    font-size: 14;
    font-weight: 700;
}

.profileImage{
    width: 50;
    height: 50;
    border-radius: 25;
}