<StackLayout orientation="horizontal" class="mainContainer">
  <Image src="https://www.vbulletin.com/forum/core/images/default/default_avatar_large.png" class="profileImage"></Image>
  <Label [text]="name" class="userName"></Label>
</StackLayout>
