<StackLayout>
  <Label *ngIf="fetching"
    text="Loading Conversations"></Label>
    <Label *ngIf="error!=null" text="Error laoding conversations"></Label>
    <!-- <StackLayout *ngIf="fetched">
    <app-conversation-title *ngFor="let conv of conversations" [conversation]="conv" [user]="currentUser"></app-conversation-title></StackLayout> -->
<StackLayout *ngIf="fetched" (itemTap)="onItemTap($event)">
    <ListView  [items]="conversations" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-i="index">
            <app-conversation-title [nsRouterLink]="['conversation/' + index]" [conversation]='item' [user]='currentUser'></app-conversation-title>
           
        </ng-template>
    </ListView>
  </StackLayout>

  </StackLayout>
