<StackLayout>
  <app-single-message *ngFor='let message of messages; let i = index' [message]="message" [displayUser]="i == 0 ?true:false" [conversation]='conversation'></app-single-message>
</StackLayout>
