.dateSeparator{
  margin-top: 10;
  text-align: center;
    background-color: #B6B6B6;
    border-radius: 10;
   margin-left: 60;
   margin-right: 60;
   opacity: 0.7;
}

.separatorText{
   
    color: white;
    font-size: 9;
}