<StackLayout>
  <StackLayout>
<StackLayout class="dateSeparator">
  <Label [text]="formattedDate" class="separatorText"></Label>
</StackLayout>
</StackLayout>
  <app-message-group *ngFor='let item of groups' [messages]='item' [conversation]='conversation'></app-message-group>
</StackLayout>
