<Page>
  <ActionBar [title]="title">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>

    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Details" android.position="popup"></ActionItem>
    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Leave" android.position="popup"></ActionItem>
    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Delete" android.position="popup"></ActionItem>
    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="Mute Conversation" android.position="popup"></ActionItem>
    <StackLayout orientation="horizontal">
      <Label [text]="title"></Label>
    </StackLayout>
  </ActionBar>
  <AbsoluteLayout class="flexContainer">
    <StackLayout class="form">
    <AbsoluteLayout>
      <TextField class="messageText" hint="Enter message here" [(ngModel)]="message"></TextField>
      <Button class = "sendButton" text="Send" (tap)="sendMessage()"></Button>
    </AbsoluteLayout>
  </StackLayout>
    <StackLayout class="messageList">
      <Label *ngIf="fetching" text="Messages loading"></Label>
      <Label *ngIf="error!=null" text="Error loading messages"></Label>
      <ScrollView *ngIf='fetched' #scrollArea>
        <StackLayout>
          <!-- <app-single-message *ngFor="let item of messages" [message]="item" [conversation]="conversation"></app-single-message> -->
          <app-data-message-group *ngFor='let item of groups; let i = index' [date]="dates[i]" [group]='item' [conversation]='conversation'></app-data-message-group>
        </StackLayout>
      </ScrollView>
    </StackLayout>

  </AbsoluteLayout>
</Page>