.form{
   margin-bottom: 0;
   margin-right: 0;
   margin-top: 90%;
   margin-left: 0;
   width: 100%;
   border-radius: 5;
   border-style: solid;
   border-color: red;
}
.messageList{
    margin-top: 0;
    margin-bottom: 10%;
    width: 100%;
    height: 90%;
    margin-left: 0;
    margin-right: 0;
}

.messageText{
    margin-left: 0%;
    margin-right: 0%;
    margin-right: 20%;
    height: 100%;
    width: 80%;
    border-radius: 5;
}
.sendButton{
    height: 100%;
    margin-left: 80%;
    width: 20%;
    color: #0057BB;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5;
   
}