StackLayout{
   
    padding-left: 10;
    padding-right: 10;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 15;
    padding-top: 10;
   
}
Button{
    padding:0;
    background-color: rgba(116, 12, 81, 0);
    color: rgba(255, 255, 255, 0.45);
    border-radius: 5;
    margin-bottom: 10;
    height: 30;
    border-width: 1;
    border-color: rgba(255, 255, 255, 0.4);
}
TextField{
    padding:0;
    color: white;
    margin-bottom: 10;
    font-size: 10;
    background-color: rgba(255, 255, 255, 0.19);
    border-width: 1;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 5;
    padding-left: 15;
    height: 30;
    
}
