
<StackLayout>
 
    <TextField hint = "Your Email" 
    autocorrect="false" autocapitalizationType="none"
    keyboardType="email" [(ngModel)]="username"></TextField>
    <TextField hint = "Password" [(ngModel)]="password" secure="true"></TextField>
    <TextField hint = "Confirm Password" *ngIf="!isLoggingIn" [(ngModel)]="confirmPassword" secure="true"></TextField>
    <Button [text]="isLoggingIn ? 'Sign In' : 'Sign Up' " (tap)="tryLogIn()"></Button>
    <Button [text]="isLoggingIn ? 'Register' : 'Log In' " (tap)="swapForm()"></Button>
    <Label [text]="temptext"></Label>
</StackLayout>
